USE [master]
GO
/****** Object:  Database [UserManager]    Script Date: 9/22/2024 7:37:45 PM ******/
CREATE DATABASE [UserManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UserManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UserManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserManager]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 9/22/2024 7:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[username] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[roleid] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
